<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--要使用哪个对象，就声明哪个对象-->
    <!--创建dao实例-->
    <bean name="dao" class="com.mystudy.dao.impl.UserDaoImpl"/>

    <!--创建UserServicesImpl的实例-->
    <bean name="userService" class="com.mystudy.service.impl.UserServiceImpl">
        <!--set注入，给UserServicesImpl的dao属性赋值-->
        <property name="dao" ref="dao"/>
    </bean>

</beans>